<br>
<div class='block-box'>
<% @tasks.each do |task| %>

  <div class="tasks">
    <ul>
      <li><%= task.title %></li>
      
      <li class='due'><strong>Due: </strong><%= task.due_date %></li>

      <%= link_to "Show", user_task_path(@user, task) %>
    </ul>

  </div>
<% end %>
</div>