// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.tasks {
  margin: 5px;
  padding: 15px;
  border: 1px solid black;
  max-width: 12%;
  border-radius: 5px;
  display: inline-block;
  .due {
    color: #993366;
  }
  ul  { 
    padding: 0;
    li {
    list-style: none;
    }
  }
}

.block-box {
  padding-left: 5%;
}