// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.nav-list {
  margin-right: auto;
  margin-left: auto;
  width: 49%;
  ul {
    margin: 0px 26%;
  }
}

.tasks {
  margin: 5px;
  padding: 15px;
  border: 2px solid black;
  max-width: 150px;
  max-height: 12%;
  border-radius: 5px;
  display: inline-block;
  background-color: #cfc;
  text-align: center;
  .due {
    color: #993366;
  }
  ul  {
    padding: 0;
    li {
    list-style: none;
    }
    li:first-child {
      text-decoration: underline;
    }

  }
}

.block-box {
  padding: 5px 5%;
}

.lined {
  align: center;
}

.new-link {
  margin-left: 50px;
}

.shole {
  width: 100%;
}